<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="../stylesheets/style.css">
   <script src="../javascripts/script.js"></script>
</head>
<body>
    <h1>age</h1>
    <h1><%= age %></h1>
    <h1>Neo Morph login dialog</h1>
    <dialog class="neo-morph" open>
        <form action="#">
            <div class="form-group" for="Username">
                <input type="text" name="Username" placeholder="">
            </div>
            <div class="form-group" for="Password">
                <input type="password" name="p" placeholder="">
            </div>
            
            <output id="status" for="Username Password"></output>
            <input type="submit" value="Login" color="green">
        </form>
    </dialog>
</body>
</html>